* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #C44B03;
}
ul {
    display: flex;
    width: 30rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin: 3rem 5rem;
}
.nav_anchor {
    color: #FFFFFF;
    font-family: 'Comfortaa', 'cursive';
}
li:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }
      @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); }
      100% { transform: scale(1); }
    }
    .em-desenvolvimento {
        display: flex;
        justify-content: center;
        padding: 10rem;
        text-transform: uppercase;
        color: blue;
        font-weight: 700;
        font-family: 'Comfortaa', 'cursive';

        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }